<div class="filters-container">
  <fieldset>
    <legend>Пол</legend>
    <label *ngFor="let gender of genderKeys">
      <input type="checkbox" [id]=gender (change)="genderChange(gender, $event)">
      {{gender}} <span *ngIf="genders[gender]">({{genders[gender]}})</span>
    </label>
  </fieldset>
  <fieldset>
    <legend>Департамент</legend>
    <label *ngFor="let department of departmentKeys">
      <input type="checkbox" [id]=department (change)="departmentChange(department, $event)">
      {{department}} <span *ngIf="departments[department]">({{departments[department]}})</span>
    </label>
  </fieldset>
  <fieldset>
    <legend>Город</legend>
    <label *ngFor="let city of cityKeys">
      <input type="checkbox" [id]=city (change)="cityChange(city, $event)">
      {{city}} <span *ngIf="cities[city]">({{cities[city]}})</span>
    </label>
  </fieldset>
</div>
