.filters-container {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;

  fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
  }
}

@media (max-width: 899px) {
  .filters-container {
    flex-direction: column;
    margin-top: 0;
  }
}
