<table>
  <tr>
    <th>Имя
      <div>
        <button (click)="data.sortData(TableHeaders.name, SortDirection.ASC)"><span class="material-icons">expand_less</span></button>
        <button (click)="data.sortData(TableHeaders.name, SortDirection.DESC)"><span class="material-icons">expand_more</span></button>
      </div>
    </th>
    <th>Возрост
      <div>
        <button (click)="data.sortData(TableHeaders.age, SortDirection.ASC)"><span class="material-icons">expand_less</span></button>
        <button (click)="data.sortData(TableHeaders.age, SortDirection.DESC)"><span class="material-icons">expand_more</span></button>
      </div>
    </th>
    <th>Пол
      <div>
        <button (click)="data.sortData(TableHeaders.gender, SortDirection.ASC)"><span class="material-icons">expand_less</span></button>
        <button (click)="data.sortData(TableHeaders.gender, SortDirection.DESC)"><span class="material-icons">expand_more</span></button>
      </div>
    </th>
    <th>Депортамент
      <div>
        <button (click)="data.sortData(TableHeaders.department, SortDirection.ASC)"><span class="material-icons">expand_less</span></button>
        <button (click)="data.sortData(TableHeaders.department, SortDirection.DESC)"><span class="material-icons">expand_more</span></button>
      </div>
    </th>
    <th class="title-address">Адрес
      <div>
        <button (click)="data.sortData(TableHeaders.address, SortDirection.ASC)"><span class="material-icons">expand_less</span></button>
        <button (click)="data.sortData(TableHeaders.address, SortDirection.DESC)"><span class="material-icons">expand_more</span></button>
      </div>
    </th>
  </tr>
  <tr *ngFor="let elem of data.data$ | async">
    <td class="name">{{elem.name}}</td>
    <td class="age">{{elem.age}}</td>
    <td class="gender">{{elem.gender}}</td>
    <td class="department">{{elem.department}}</td>
    <td class="address">{{elem.address.city}}, {{elem.address.street}}</td>
  </tr>
</table>

